.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__content {
  flex: 1;
}

.app__hero-section {
  width: 100%;
  min-height: 650px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/MainBackground-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
