.card__section {
  max-width: 1440px;
  margin-top: 80px;
}
.card__section-title {
  margin-bottom: 64px;
  font-family: "Roboto-Slab-400";
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  color: #1a1b22;
}

.card__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card__section-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card__section-button {
  width: 288px;
  height: 64px;
  border-radius: 80px;
  border: none;
  font-size: 18px;
  font-family: "RotbotoNormal", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-top: 64px;
  background: #e8e8e8;
  color: #1a1b22;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .card__section-title {
    font-size: 30px;
    padding: 0 0 0 16px;
  }
  .card__section-button {
    margin-bottom: 24px;
  }

  .card__section-title {
    margin-bottom: 58px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .card__section-button {
    margin-top: 32px;
  }
}
