.about__content{
	width: 100%; 
	display: flex; 
	 padding: 0 0 80px 104px; 
	
}

.about__content-avatar{
	margin-top: 80px; 
}

.about__content-text{
	max-width: 600px; 
	width: 100%; 
	margin: 0 150px 0 56px; 
}

.about__content-text-title{
	font-family: "Roboto-Slab-400", sans-serif;
	font-weight: 400;
	font-size: 40px; 
	line-height: 46px; 
	margin-top: 131px; 
}

.about__content-text-subtext{
	font-size: 18px;  
	font-family: "Roboto-400", sans-serif;
	line-height: 24px;
}

.about__content-text-subtext-about{
	margin: 24px 0 20px; 
}