.nothing__found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nothing__found-image {
  width: 82.5px;
  height: 82.5px;
}

.nothing__found-title {
  font-family: "Roboto-Slab-400", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 31.5px 0 16px;
}

.nothing__found-sub-text {
  font-family: "Roboto-400", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6c707a;
  max-width: 270px;
  width: 100%;
  text-align: center;
}
