.footer {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin-left: 104px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-right: 106px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__link {
  text-decoration: none;
  color: black;
  font-family: "Roboto-400";
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;
  }

  .footer__links {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .footer__nav {
    text-align: left;
    flex-direction: column;
  }

  .footer__link {
    line-height: 48px;
  }

  .footer__social {
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .footer__copyright {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .footer__copyright {
    margin-left: 40px;
  }

  .footer__links {
    margin-right: 42px;
  }
}
