.header {
  height: 80px;
  width: 100%;
}

.header__content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__content-title {
  color: white;
  margin-left: 104px;
  font-family: "Roboto-slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: center;
}
