.search__container {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 608px;
  min-height: 64px;
  width: 100%;
}

.search__container-input {
  box-sizing: border-box;
  min-height: 64px;
  margin-top: 88px;
  width: 100%;
  border-radius: 100px;
  border: none;
  padding-left: 24px;
  padding-right: 180px;
  font-size: 16px;
}

.search__container-input::placeholder {
  color: #b6bcbf;
  font-family: "RobotoNormal", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.search__container-input:focus {
  border: none;
  outline: none;
}

.search__container-input-button {
  width: 168px;
  height: 64px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  border: none;
  background-color: #2f71e5;
  color: #ffffff;
  font-family: "RobotoNormal", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.search__container-input-button:hover {
  cursor: pointer;
}

.search__container-input-button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 425px) {
  .search__container {
    display: block;
    padding: 20px;
  }

  .search__container-input {
    padding-left: 16px;
    padding-right: 0px;
    margin: 88px 0 16px;
  }

  .search__container-input-button {
    position: static;
    width: 100%;
  }
}
