.card {
  position: relative;
  list-style: none;
  max-width: 400px;
  width: 100%;
  min-height: 576px;
  border-radius: 8px;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__save-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.card__sign-in-btn {
  width: 182px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 69px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: "RobotoNormal", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.card__save-btn_normal {
  background-image: url("../../assets/savedNormal.svg");
}

.card__save-btn_saved {
  background-image: url("../../assets/saved.svg");
}

.card__save-btn:hover {
  cursor: pointer;
  background-image: url("../../assets/savedHover.svg");
}

.card__delete-btn-default {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url("../../assets/deleteButton.svg");
  border-radius: 8px;
  cursor: pointer;
}

.card__hover-delete-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-image: url("../../assets/deleteButtonHoverd.svg");
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-btn-hoverd {
  position: absolute;
  top: 24px;
  right: 95px;
  max-width: 160px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  font-family: "RobotoNormal", sans-serif;
}

.card__users-search {
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: "RobotoNormal", sans-serif;
  font-weight: 500;
  min-width: 87px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 8px;
}

.card__image {
  width: 100%;
  max-height: 272px;
}

.card__text-content {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__date {
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}

.card__title {
  font-size: 26px;
  font-family: "Roboto-slab-400", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #1a1b22;
  margin-top: 12px;
}

.card__description {
  font-size: 16px;
  font-family: "RobotoNormal", sans-serif;
  font-weight: 400;
  margin-top: 16px;
  line-height: 22px;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__author {
  font-family: "Roboto-Slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: 24px;
  font-size: 16px;
  font-family: "RobotoNormal", sans-serif;
  line-height: 22px;
  color: #b6bcbf;
}

@media screen and (max-width: 425px) {
  .card {
    max-width: 288px;
  }

  .card__date {
    margin-top: 16px;
  }

  .card__title {
    margin-top: 10px;
  }

  .card__description {
    margin-top: 14px;
  }

  .card__author {
    margin-bottom: 16px;
  }

  .card__save-btn {
    top: 16px;
    right: 16px;
  }

  .card__delete-btn-hoverd {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .card {
    max-width: 224px;
    width: 100%;
    min-height: 420px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .card__author {
    margin-top: 12px;
  }
}
